<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ресторан</title>
    <link rel="stylesheet" href="{% static 'css/styleDip.css' %}">
</head>
<body>
<div class="Menu">
    <div class="wrap">
        <ul>
            <li><a href="">Заказать столик</a></li>
            <li><a href="{% url 'menu' %}">Меню</a></li>
            <li><a href="{% url 'personal' %}">Наш персонал</a></li>
        </ul>
    </div>
</div>

<footer>
    <div class="Footer">
        <div class="wrap">
            <ul>
                <li><a href="https://t.me/+ZkVWFWmI_483ZDNi"><img class="socialImg"
                                                                  src="{% static 'images/telegram.png' %}">
                    <p class="Social">Telegram</p></a>

                </li>
                <li><a href="https://www.youtube.com/@foodtop10"><img class="socialImg"
                                                                      src="{% static 'images/Youtube.png' %}">
                    <p class="Social">YouTube</p></a>

                </li>
                <li><a href=""><img class="socialImg" src="{% static 'images/vk.png' %}">
                    <p class="Social">Вконтакте</p></a>

                </li>
            </ul>
        </div>
    </div>
</footer>

{% block content %}
{% endblock %}


</body>
</html>