<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ресторан</title>
    <link rel="stylesheet" href="{% static 'css/styleDip.css' %}">
    <link rel="icon" href="{% static 'images/icon.png' %}">
</head>
<body>
<header>
    <div class="Menu">
        <div class="Logo">
            <a href="{% url 'index' %}"><img src="{% static 'images/Rt black.png' %}"></a>
        </div>
        <div class="wrap">
            <div>
                <ul>
                    <li class="butt"><a href="">Заказать столик</a></li>
                    <li class="butt"><a href="{% url 'menu' %}">Меню</a></li>
                    <li class="butt"><a href="{% url 'personal' %}">Наш персонал</a></li>
                    <li class="butt"><a href="{% url 'signup' %}">Регистрация</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

{% block content %}
{% endblock %}


</body>
</html>