<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ресторан</title>
    <link rel="stylesheet" href="{% static 'css/styleDip.css' %}">
    <link rel="icon" href="{% static 'images/icon.png' %}">
</head>
<body>
<div class="Menu">
    <div class="wrap">
        <ul>
            <li><a href="">Заказать столик</a></li>
            <li><a href="{% url 'menu' %}">Меню</a></li>
            <li><a href="{% url 'personal' %}">Наш персонал</a></li>
        </ul>
    </div>
</div>



{% block content %}
{% endblock %}


</body>
</html>