{% extends 'view/base.html' %}
{% load static %}
{% block content %}

<h1 id="regist">Регистрация</h1>
<form method="post" class="register">
    {% csrf_token %}

        <p class="rg">
            <label for="username">Имя пользователя:</label>
            <input type="text" name="username" id="username" required>
        </p>

        <p class="rg">
            <label for="password1">Пароль:</label>
            <input type="password" name="password1" id="password1" required>
        </p>

        <p class="rg">
            <label for="password2">Подтверждение пароля:</label>
            <input type="password" name="password2" id="password2" required>
        </p>

        <p class="rg">
            <label for="telefon">Номер телефона</label>
            <input type="tel" id="telefon" required>
        </p>

        <button>Зарегистрироваться</button>

</form>


{% endblock %}