<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Autor</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<h1 class="name">Информация об авторе</h1>
<div class = "container_TWO"><p>Автор данного сайта хотел создать удобный ресурс для
    генерации паролей, чтобы обеспечить лучшую защиту
    вашего аккаунта</p>

</div>
<div class="out"><p><a href="{% url 'home' %}">Вернуться на главную</a></p></div>
</body>
</html>