<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Autor</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<h1 class="name">Принцип работы сайта</h1>
<div class = "container_TWO"><p>Данный сайт предоставляет вам возможность создания пароля с различными символами
и размер. Он работает по принципу рандома, то есть подбирает все символы случайно.
Для выбора символов, мы используем ASCII код и через цикл указываем диапазон символом, от которого он и будет брать.
Это относиться ко всем символам от больших до спец-символов.</p><br>
    </div>
<div class="out"><p><a href="{% url 'home' %}">Вернуться на главную</a></p></div>
</body>
</html>